---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign recent_post_limit = site.paginate | default: 8 %}

<div class="entries-list">
  {% for post in posts limit: recent_post_limit %}
    <article class="archive__item">
      <h2 class="archive__item-title no_toc">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>

      {% if post.excerpt %}
        <p class="archive__item-excerpt">{{ post.excerpt | strip_html | truncate: 220 }}</p>
      {% endif %}

      <p class="page__meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %-d, %Y" }}
        </time>
      </p>
    </article>
  {% endfor %}
</div>

{% if paginator %}
  {% include paginator.html %}
{% endif %}

